<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head('Events · EventSphere')}">
    <meta charset="UTF-8" /><title>Events</title><link rel="stylesheet" href="style.css" />
</head>
<body>

<header th:replace="~{fragments/navbar :: navbar-guest}"></header>

<section class="page-section">

    <div class="container">

        <h1>Available Events</h1>

        <div class="event-grid">

            <div class="event-card"
                 th:each="event : ${events}">

                <img th:src="${event.coverImageUrl}"
                     alt="event">

                <h3 th:text="${event.location}">
                </h3>

                <p th:text="${event.description}">
                </p>

                <a class="btn-primary"
                   th:href="@{/events/{id}(id=${event.id})}">

                    Details

                </a>

            </div>

        </div>

    </div>

</section>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
